.App-header {
  margin: 5% 0 5% 0;
}

.score-card {
  float: left;
  white-space: nowrap;
}

.block {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.blockElement {
  text-align: center;
  line-height: 100px;
  font-size: 25px;
}

.new-game-btn {
  float: right;
  white-space: nowrap;
}
